/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
  font-weight: normal;
}
html, body, fieldset, img, iframe, abbr {
  border: 0;
}
i, cite, em, var, address, dfn {
  font-style: normal;
}
[hidefocus], summary {
  outline: 0;
}
li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}
sup, sub {
  font-size: 83%;
}
pre, code, kbd, samp {
  font-family: inherit;
}
q:before, q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label, summary {
  cursor: default;
}
a, button {
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}
del, ins, u, s, a, a:hover {
  text-decoration: none;
}
body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0;
}
@media print {
  /*隐藏不打印的元素*/
  .no-print {
    display: none;
  }
  /*其他打印样式*/
}
body {
  background: #fff;
}
a, a:hover {
  color: #fff;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
/* 报告样式 */
html, body {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  font-family: "微软雅黑";
  box-sizing: border-box;
  font-size: 14px;
  font-family: "微软雅黑";
  color: black;
  background-color: white;
}
.no-print {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 120px;
  height: 80px;
  font-size: 20px;
  background-color: #eee;
  z-index: 100;
}
#close {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 20px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #eee;
  cursor: pointer;
  color: #333;
}
.app-container {
  min-height: 800px;
  border: 1px solid #bcbcbc;
  width: 1300px;
  margin: 0 auto 0;
  background-color: white;
  padding: 15px 0;
  .left12 {
    display: inline-block;
    width: 480px;
    height: 100%;
    float: left;
    .user-info {
      display: flex;
      width: 100%;
      line-height: 40px;
      & > div:nth-child(1) {
        width: 30%;
        text-align: center;
        img {
          display: block;
          height: 70px;
        }
      }
      & > div:nth-child(2) {
        width: 45%;
        p {
          padding-left: 10px;
          font-weight: 600;
        }
      }
      & > div:nth-child(3) {
        width: 25%;
        p {
          padding-left: 10px;
          font-weight: 600;
        }
      }
    }
    .item1-list{
      padding: 10px 30px 0 30px;
      li{
        width: 200px;
        height: 45px;
        background-color: #EEEFF1;
        border-radius: 2px;
        margin-bottom: 20px;
        display: flex;
        .left-title{
          width: 45%;
          text-align: center;
          p:first-child{
            font-size: 16px;
            font-weight: 600;
            padding: 8px 0 5px 0;
          }
          p:last-child{
            width: 200%;
            font-size: 12px;
            transform: translateX(-45px) scale(0.5);
            color: #686868;
          }
        }
        .rigth-date{
          width: 55%;
          text-align: center;
          p:first-child{
            font-size: 16px;
            font-weight: 600;
            padding: 6px 0 3px 0;
          }
          p:last-child{
            font-size: 12px;
            color: #686868;
          }
        }
      }
      li:nth-child(odd) {
        float: left;
      }
      li:nth-child(even) {
        float: right;
      }
      &.three-tab{
        .left-title{
          width: 40%;
        }
        .rigth-date{
          width: 45%;
        }
        .right-icon{
          width: 15%;
          i{
            font-size: 30px;
            width: 100%;
            height: 100%;
            display: inline-block;
            &::before{
              height: 100%;
              display: block;
              text-align: center;
              line-height: 45px;
            }
          }
        }
      }
    }
  }
  .right345678 {
    display: inline-block;
    width: calc(100% - 480px);
    float: left;
    .item-title{
      padding-left: 0 !important;
    }
    .top-logo{
      img{
        display: block;
        width: 100%;
        height: 34px;
      }
    }
    .bottom-content{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .content-left-box{
        width: 60%;
      }
      .content-right-box{
        width: 40%;
      }
      .item3-list{
        padding: 0 5px;
        li{
          width: 25%;
          float: left;
          text-align: center;
          padding-top: 10px;
          p:first-child{
            font-size: 20px;
            font-weight: 600;
          }
          p:nth-child(2){
            font-size: 12px;
            color: #686868;
            transform:scale(0.6) translateX(-40%);
            padding: 3px 0 6px 0;
            width: 200%;
          }
          img{
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto;
          }
        }
      }
      .item4-list{
        padding: 0 5px;
        li{
          display: flex;
          justify-content: center;
          align-items: center;
          span{
            height: 45px;
            p:first-child{
              font-size: 20px;
              font-weight: 600;
              text-align: center;
              padding-top: 8px;
            }
            p:nth-child(2){
              font-size: 12px;
              color: #686868;
              transform:scale(0.5) translateX(-50%);
              width: 200%;
              text-align: center;
            }
          }
          &>span:nth-child(1){
            width: 30%;
            background-color: #EEEFF1;
            border-right: 1px solid #CFCFCF;
            border-bottom: 1px solid #CFCFCF;
          }
          &>span:nth-child(2){
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #CFCFCF;
            border-bottom: 1px solid #CFCFCF;
            span{
              width: 33.3%;
            }
          }
          &>span:nth-child(3){
            width: 20%;
            border-bottom: 1px solid #CFCFCF;
          }
        }
        &.two-tabs{
          li{
            &>span:nth-child(2){
              width: 70% !important;
              border-right: none;
              span{
                border-right: 1px solid #CFCFCF;
                &:last-child{
                  border-right: none;
                }
              }
            }
          }
        }
      }
      .item-six{
        padding-right: 8px;
        li{
          &>span:nth-child(2){
            span{
              width: 50%;
            }
          }
        }
      }
      .segmental-box{
        width: 90%;
        height: 255px;
        margin: 0 auto;
        background: url("./../img/jieduan.png") no-repeat center;
        background-size: 100%;
      }
    }
  }
  .every-item {
    margin-top: 15px;
    .item-title {
      padding: 5px 0;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 40px;
      span{
        margin-right: 10px;
      }
      span:nth-child(1) {
        width: 18px;
        height: 20px;
        background-color: #ED453C;
        line-height: 20px;
        text-align: center;
        color: white;
      }
      span:nth-child(2) {
        color: #334A74;
        font-size: 20px;
        font-weight: 600;
      }
      span:nth-child(3) {
        font-size: 10px;
        color: #686868;
        height: 100%;
        line-height: 40px;
      }
      span:nth-child(4) {
        margin-right: 0;
        font-size: 10px;
        color: #686868;
        height: 100%;
        line-height: 40px;
        strong{
          font-size: 14px;
        }
      }
    }
  }
}












































