$tableHead: #E7EAEC;
$tableCell: #F7F9FA;
$border: #cccccc;
$greenbr: rgb(26, 179, 148);
$greenbg: rgba(26, 179, 148, .1);
$greenco: rgb(26, 179, 148);
$appMainBg: #f0f0f0;
$boxbr: #ffffff;
$eltabsitemFz: 20px;
$eltabsitemWt: Bold;
$borderstyl: 1px solid #cccccc;
.check-table{
  thead {
    tr th {
      background-color: $tableHead;
    }
  }
}
.app-main{
  background-color: $appMainBg;
  min-height: calc(100vh - 50px);
}
#app{
  /deep/ .el-icon-error{
    color: red
  }
  /deep/ .el-icon-success{
    color: #1ab394
  }
}
// table公共样式
.el-table--border, .el-table--group {
  border: 1px solid $border;
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background: $tableCell;
}

.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid $border;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-right: 1px solid $border;
}
.cell /deep/ .return-btn{
  background-color: $greenbg;
  border-color: $greenbr;
  color: $greenco;
}
.cell /deep/ .return-btn:hover,.cell /deep/ .return-btn:focus{
  background-color: $greenbr;
  border-color: $greenbr;
  color: white;
}
// 入场签到
.topbox{
  background-color: $boxbr;
}
.topSignBox{
  background-color: $boxbr;
}


// 租柜管理
.boxser{
  background: $boxbr;
  padding: 20px 20px;
  border: $borderstyl;
  border-bottom: none;
}
.el-tabs__header{
  margin-bottom: 0px;
}
.find-box{
  background-color:  $boxbr;
  padding: 10px 20px;
  border: 1px solid #cccccc;
}

.el-tabs__active-bar{
  width: 80px;
}
.cabinetBox{
  background-color: $boxbr;
}
.cabinetBox .cabinet-ul{
  padding-left: 20px !important;
  padding-bottom: 10px !important;
}
.cabinetBox .cabinet-ul li{
  margin-top: 10px;
  margin-right: 5px;
}
// 柜子管理
.box{
  background-color: $boxbr;
  padding: 20px;
  margin: 0px;
}
.find-box1{
  background: $boxbr;
  padding-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
.el-tab-pane /deep/ .goods-out{
  background-color: $boxbr;
  padding: 10px 20px !important;
  margin-bottom: 20px !important;
  .title-tip{
    color: #333333;
    font-weight: bold;
  }
}
.pay-method{
  padding-left: 0px;
}
.find-box2{
  background: $boxbr;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
.find-box3{
  background-color: $boxbr;
  padding: 10px 20px ;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}
.find-box4{
  background-color: $boxbr;
  padding: 14px 16px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
.btn-box{
  background-color: $boxbr;
}
.tabmycalss {
  .el-tabs__header {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-bottom: none;
    margin: 0;
  }
  .el-tabs__nav {
    margin-left: 20px;
    .el-tabs__item {
      font-size: 18px;
      height: 60px;
      padding: 10px 20px;
    }
  }
}
.untabmycalss {
  .el-tabs__header {
    background: #f5f7fa;
    margin: 0 0 15px;
  }
  .el-tabs__nav {
    margin-left: 0;
    .el-tabs__item {
      font-size: 14px;
      height: inherit;
      padding: 0px 20px;
    }
  }
}
.el-table--border, .el-table--group {
  border: 1px solid #cccccc;
  border-right: none;
}
.table-border-right {
  border-right: 1px solid #cccccc;
}
.reacord-table{
  border: 1px solid #cccccc;
}
.el-table--border th, .el-table__fixed-right-patch {
  border-bottom: 1px solid #cccccc;
}
.el-menu-item .svg-icon [class^=el-icon-] {
    margin-right: 5px;
    width: 9px;
    text-align: center;
    font-size: 15px;
    vertical-align: -0.15em;
    color: #909da6;
}
.el-table__column-filter-trigger i {
  transform: scale(1);
  -webkit-transform: scale(1);
  font-size: 18px;
  vertical-align: middle;
}
.tablesmall {
  font-size: 12px;
  padding: 7px 8px;
  border: 1px solid #cccccc;
  border-bottom: none;
  float: left;
  span {
    color: #409EFF;
  }
}
.poede {
  position: relative;
  .dapl {
    position: absolute;
    right: 13px;
    top: -47px;
  }
  .dapr {
    position: absolute;
    right: 113px;
    top: -47px;
  }
  .black {
    background-color: black;
    border: 1px solid black;
    &:hover {
      background-color: #333333;
    }
  }
}
.menu-wrapper>a:last-child {
  border-top: 1px #4d4e4e;
  border-top-style: solid;
}
.shuaxin {
  color: #1878E1;
  float: right;
  display: block;
  margin-left: 20px;
}
