#content{
        text-align: center;
        width: 100%;
        height: 7.9rem;
        font-family: '微软雅黑'
}
/* #content p{
    font-size: 15px
} */
#content p:first-child {
        font-size: 16px;
        color: #1BB695;
        font-weight: 700;
        padding-bottom: 0.1rem;
}
#content p:nth-child(2) {
    color: black;
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.difficult{
       width: 50%;
       height: 2.1rem;
       margin: 0 auto;
       color: #838383;
}
.hard {
    width: 16.7%;
    float: left;
    margin-right: 1.2rem;
}
.swiper-slide{
    width: 100% !important;
}
.hard span {
    color: #16B08F
}
.swiper-container {
    width: 100%;
}
.solution{
    width: 53%;
    margin: 0 auto
}
.swiper-slide p:first-child{
    font-size: 16px;
    color: #19B494;
    /* padding-left: 36px; */
    margin-right: 144px;

    /* text-align: center; */
}
/* .swiper-container{
    background: url(../images/07pic.png)no-repeat
} */
.swiper-container{
    height: 11.7rem;
}
.more{
    width: 7.6rem;
    height: 123px;
    background: url(./../../img/2.png) no-repeat;
    float: right;
    box-shadow: 1px 1px 5px #EAF9F4;
}
.more img{
    width: 80px;
    margin-left: 0.1rem;
    /* background: #EFEFEF; */
    margin-top: 14px;
}
.more a{
    margin-left: 114px;
    color: green;
}
.more-detail{
        float: right;
        margin-top: 18px;
        color: #A7A7A7;
        margin-left: 113px;
}
.more-one{
    background: url(./../../img/1.png)no-repeat
}
.more-2{
    float: right;
    margin-top: 25px;
    color: #A7A7A7;
    margin-left: 109px;
    font-size: 12px;
}
.more-three{
        background: url(./../../img/3.png)no-repeat
}
.more-3{
        float: right;
        margin-top: 25px;
        color: #A7A7A7;
        margin-left: 111px;
        font-size: 12px;
}
.more-p{
float: right;
margin-right: 194px;
margin-top: 10px;
text-align: left;
}
.solution-img{
    width: 50%;
    margin-top: 1rem;
}
.swiper-slidep div:nth-child(2){
        margin-right: -389px;
        margin-top: -166px;
}
.sixbar{
        width: 7%;
        float: left;
        margin-top: -0.2rem;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #5EB996 !important;
}
.swiper-pagination-bullet{
        left: 56px;
        width: 20px !important;
        height: 5px !important;
        border-radius: inherit !important;
}
.plan{
    color: #19B192;
    font-size: 22px;
}
.more-p-3{
    margin-right: 113px !important;
    color: #6ED5EF !important;
}
.more-two{
    margin-right: 21px;
    margin-top: -166px;
}
.more-p-2{
    margin-right: 115px !important;
    color: #F89C6D !important;
}


.right-bar {
    position: fixed;
    bottom: 10%;
    right: 2%;
    display: none;
    z-index: 99999;
}
.right-bar img {
    width: 50%;
    margin-top: .2rem;
}

.right-bar .mianfei,
.right-bar .to-top {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 1px 1px 7px 2px rgba(136,136,136,0.27);
    background: #fff;
    font-size: .346667rem;
    line-height: .6rem;
    text-align: center;
    margin-bottom: .4rem;
    color: #11b38a;
    /* display: none; */
    overflow: hidden;
}
@media screen and (max-width: 1798px) {
.swiper-container {
     height: 20.6rem !important;
}
.more {
    width: 100%;
    height: 123px;
    background: url(./../../img/2.png) no-repeat;
    margin-bottom: 0.3rem;
    float: right;
    box-shadow: 1px 1px 5px #999;
}
.swiper-slide p:first-child {
    font-size: 16px;
    color: #19B494;
    float: none;
    margin-left: 2.3rem;
}
.more-p {
    /* float: right; */
    margin-right: 194px;
    margin-top: 10px;
    text-align: left;
}
.more-one-p{
    margin-top: 18px;
    color: #A7A7A7;
    margin-left: 121px;
}
.more a {
    margin-left: 123px;
    color: green;
}
.more-2 {
    float: none;
    margin-top: 25px;
    color: #A7A7A7;
    margin-left: 2.3rem;
    font-size: 12px;
}
.more-3 {
    float: none;
    margin-top: 25px;
    color: #A7A7A7;
    margin-left: 122px;
    font-size: 12px;
}
.more-p-one{
        margin-top: 0 !important;
        color: #A7A7A7;
        float: none;
        margin-left: 0 !important;
}
.more-two{
    margin-right: 0 !important;
    margin-top: 0 !important;
}
.more-detail{
        /* float: right; */
        float: none !important;
        margin-top: 18px;
        color: #A7A7A7;
        margin-left: 123px !important;
}
.more-one{
        background: url(./../../img/1.png) no-repeat;
}
.more-three {
    background: url(./../../img/3.png)no-repeat;
}
.more-four {
    background: url(./../../img/4.png)no-repeat;
}
.more-five {
    background: url(./../../img/5.png)no-repeat;
}
.more-six {
    background: url(./../../img/6.png)no-repeat;
}
.more-seven {
    background: url(./../../img/7.png)no-repeat;
}
.more-eight {
    background: url(./../../img/8.png)no-repeat;
}
.more-nine {
    background: url(./../../img/9.png)no-repeat;
}
.solution-img {
    width: 100%;
}
.sixbar {
    width: 8%;
    float: left;
    margin-top: -0.2rem;
}
.plan{
        color: #19B192;
        font-size: 20px !important;
}
}
@media screen and (max-width: 1630px) {
    .hard {
        width: 21%;
        float: left;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 750px) {
 .hard {
     width: 21%;
     float: left;
     margin-right: 0% !important;
 }
 .difficult {
     width: 85%;
     height: 2.1rem;
     margin: 0 auto;
 }
 .solution-img {
     width: 100%;
 }
 
}

@media screen and (max-width: 750px) {
.hard {
    width: 45%;
    float: left;
    margin-bottom: 8%;
    margin-right: 5% !important;
}
.swiper-slide p:first-child {
    font-size: 14.6px;
    color: #19B494;
    float: none;
    margin-left: 123px;
}

.more-detail {
    margin-top: 10px;
    padding-right: 5px;
}

.more-3 {
    margin-top: 10px;
    padding-right: 5px;
}
.more-2 {
    float: none;
    margin-top: 10px;
    margin-left: 123px;
    color: #A7A7A7;
    font-size: 12px;
    padding-right: 5px;
}
.solution {
    width: 100%;
    margin: 0 auto;
}
.swiper-slide-active{
    width: 100% !important;
}
.swiper-wrapper{
    /*height: 19.5rem !important;*/
}
.more {
    width: 100%;
    height: 119px;
    margin-right: 21px !important;
    margin-top: 4px !important;
    float: none;
    overflow: hidden;
}
.solution {
    width: 100%;
    margin: 0 auto;
}
.swiper-container{
    height: 17% !important;
}
.more-p {
    float: right;
    margin-right: 1px !important;
    /* margin-top: 22px; */
    text-align: left;
}
.sixbar {
    width: 16%;
    float: left;
    margin-top: -0.2rem;
}
.more-p-2 {
    margin-right: 1px !important;
}
.more-p-3{
    margin-right: 1px !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 37% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}

}